
<div class="section">
  <div class="container">
    <h2>Markenverzeichnis</h2>
    
  {% assign alphabet = "A B C D E F G H I J K L M N O P Q R S T U V W X Y Z" | split: " " %}

<div class="alphabet-nav">
  {% for letter in alphabet %}
    {% assign has_link = false %}
    {% for item in collection %}
      {% if item.title contains letter %}
        {% assign has_link = true %}
        {% break %}
      {% endif %}
    {% endfor %}

    {% if has_link %}
      <a href="#{{ letter }}" class="alphabet-link" onclick="scrollToAdjustedPosition('{{ letter }}')">{{ letter }}</a>
    {% else %}
      <a class="alphabet-unused">{{ letter }}</a>
    {% endif %}
  {% endfor %}
</div>

<!-- Content Sections for Each Letter -->
{% for letter in alphabet %}
  {% assign has_content = false %}
  {% for item in collection %}
    {% if item.title contains letter %}
      {% assign has_content = true %}
      {% break %}
    {% endif %}
  {% endfor %}

  {% if has_content %}
    <div id="{{ letter }}" class="letter-section">
      <h2>{{ letter }}</h2>
      <ul>
        {% for item in collection %}
          {% if item.title contains letter %}
            <li>{{ item.title }}</li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endfor %}

<script>
  function scrollToAdjustedPosition(anchor) {
    const element = document.getElementById(anchor);
    if (element) {
      const offset = 200; // Adjust this value as needed
      const elementPosition = element.getBoundingClientRect().top + window.pageYOffset;
      window.scrollTo({
        top: elementPosition - offset,
        behavior: 'smooth'
      });
    }
  }
</script>
  </div>
</div>

{% stylesheet %}

.alphabet-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}
.alphabet-nav li {
  flex: 1;
  justify-content: center;
  display: flex;
}
.alphabet-nav li:not(:last-child) {
  border-right: 1px solid grey;
}

.alphabet-nav a {
  font-size: 2rem;
  width:100%;
  text-align: center;
}
.alphabet-nav a:hover {
  cursor: pointer;
}
  
{% endstylesheet %}

{% schema %}
  {
    "name": "Hoco Brand List",
    "settings": [],
    "presets": [{"name": " Hoco Brand List"}] 
  }
{% endschema %}