<div class="section youtube-preview" style="padding:{{ section.settings.padding }} 0" >
  <div class="container">
    <ul>
      <li>
        <h1>{{ section.settings.headline }}</h1>
        <p>{{ section.settings.text }}</p>
        <div>
          <div>
          </div>
          <div>
            <h3>Bike Mailorder</h3>
          </div>
          <div>
            <a class="btn btn--primary" href="https://www.youtube.com/@bmobikemailorder5907?sub_confirmation=1">Jetzt Abonieren</a>
          </div>
        </div>
        
      </li>
      <li class="yt-wrapper" >
        <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ section.settings.youtube1 }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </li>
      <li class="yt-wrapper">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ section.settings.youtube2 }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </li>
    </ul>
  </div>
</div>


{% stylesheet %}
  
.youtube-preview.section {
  background: #000;
}
.youtube-preview.section ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  align-items:center;
}
.youtube-preview.section ul li h1, .section ul li p {
  color: #fff;
}

.section ul li.yt-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.section ul li iframe {
    position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  }
  
{% endstylesheet %}



{% schema %}
  {
    "name": "Youtube Channel Preview",
    "settings": [
      {
        "type": "text",
        "id": "headline",
        "label": "Überschrift"
      },
      {
        "type": "text",
        "id": "text",
        "label": "Text",
      },
      {
        "type": "text",
        "id": "youtube1",
        "label": "Youtube ID 1",
      },
      {
        "type": "text",
        "id": "youtube2",
        "label": "Youtube ID 2",
      },
      {
        "type": "text",
        "id": "padding",
        "label": "Abstand Oben/Unten",
      } 
    ],
    "presets": [{"name": "Youtube Preview"}]  
  }
{% endschema %}